[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moviepy = "*"
imageio = {extras = ["ffmpeg"], version = "*"}
opencv-python-headless = "*"
rembg = "*"
pillow = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.9"
